@charset "UTF-8";

/* Todas as demais mídias */
/* Typical Device Breakpoints 
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){

    section#login {
        width: 80vw;
        height: 280px;
    }

    div#imagem {
        float: left;
        width: 40%;
        height:100%;
        background-position: right bottom ;   
    }
    
    div#formulario {
        float: right;
        width:60%;
    }
}

@media screen and (min-width:992px) {

    section#login {
        width: 950px;
        height: 290px;    
    }

    div#imagem {
        float: right;
        width:50%;
        height: 100%;
        background-position: bottom center;
    }

    div#formulario {
        float: left;
        width:50%;
    }

    div#formulario > h1 {
    font-size: 2em;
    }

    div#formulario > p {
    font-size: 1em;
    }
}