@charset "UTF-8";

/* Todas as demais mídias */
/* Typical Device Breakpoints 
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){

    section#login {
        width: 80vw;
    }

    div#imagem {
        float: left;
        width: 30%;
        height:100%
    }
    
    div#formulario {
        float: right;
        width:70%
    }
}

@media screen and (min-width:992px) {

    section#login {
        width: 950px    
    }

    div#imagem {
        float: left;
        width:50%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width:50%;
        height: 100%;
    }
}